.container {
  box-sizing: border-box;
}

.icon {
  width: 20px;
  height: 20px;
}

.tree {
  padding: 10px;
  box-sizing: border-box;
}

.operation {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  display: flex;
  justify-content: flex-end;
}