.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
}

.main {
  flex: 1;
  display: flex;
}

.sidebar {
  min-width: 300px;
  height: calc(100vh - 43px);
  overflow-y: scroll;
}

.Content {
  flex: 1;
  overflow: hidden;
}