.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.centerContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewContainer {
  position: relative;
  height: calc(100vh - 96px);
  overflow: scroll;
  padding-left: 30px;
  box-sizing: border-box;
}

.codeContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12.5px;
  display: flex;
  flex-direction: column;
}

.codeLine {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.15;
  color: #6e7681;
}

.img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 50vw;
  max-height: 50vh;
}

.icon {
  width: 20px;
  height: 20px;
}

.save {
  position: sticky;
  top: 0px;
  padding: 10px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  background-color: #fff;
}

[contenteditable] {
  outline: 1px solid transparent;
}

pre {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}